<p>Madame, Monsieur,</p>

<p>Vous avez demandé à changer votre mot de passe sur DossierSCO. Pour finaliser ce changement, veuillez cliquer sur ce lien :<br>
  <%= link_to configuration_agent_activation_url(@agent, jeton: @agent.jeton), configuration_agent_activation_url(@agent, jeton: @agent.jeton) %></p>
