<p>Bonjour,</p>

<p>Vous trouverez ci-dessous le lien du dossier contenant les fiches infirmerie générées sur DossierSCO</p>

<p><%= link_to fichier_a_telecharger_url(@fichier.id), fichier_a_telecharger_url(@fichier.id) %></p>

<p>
  L'équipe DossierSCO
</p>
