<p>Madame, Monsieur le principal,</p>

<p>Vous avez souhaité inscrire votre établissement (<%= @agent.etablissement.uai %>) à DossierSCO et nous vous remercions de la confiance que vous nous accordez.</p>

<p>Une dernière étape est nécessaire pour finaliser l'inscription, merci de cliquer sur le lien suivant : <%= link_to configuration_agent_activation_url(@agent, jeton: @agent.jeton), configuration_agent_activation_url(@agent, jeton: @agent.jeton) %></p>

<p>À bientôt sur DossierSCO !</p>

<p>
-- <br/>
Pierre pour L'équipe de DossierSCO </br>
DossierSCO est un service expérimental du ministère de l'Éducation nationale facilitant l'inscription au collège.<br/>
<a href="https://dossiersco.fr">https://dossiersco.fr</a>
</p>