<div class="wrapper-continuer">     
	<form action="/<%= destination %>" method="post">
		<button class="btn btn-primary">Enregistrer et continuer <img src="images/continuer.png" alt="continuer" title="continuer"></button>
	</form>
</div>