<!-- 

VARIABLES

name
label 			"LV1"
options			{anglais: "Anglais", allemand: "Allemand"}
checked			anglais: pour cocher Anglais par défaut

 -->

<div class="form-group row">
	<label class="col-sm-4 col-form-label"><%= label %></label>
	<div class="col-sm-6">
		<% options.each do |option|%>
      		<label class="col-sm-4 form-check-label">
				<input
					name="<%= name %>"
					value="<%= option %>"
					type="radio"
					class="form-check-input"
					<% if option == checked %>
						checked
					<% end %>
				> <%= option %>
			</label>
    	<% end %> 		
	</div>
</div>