<div class="form-group row">
  <label for="<%= variable %>" class="col-sm-4 col-form-label"><%= desc %></label>
  <div class="col-sm-6">
    <% options.keys.each do |option| %>
      <label class="col-sm-4 form-check-label">
        <input type="radio" class="form-check-input" name="<%= variable %>" <% if option == checked %> checked <% end %>> <%= options[option] %>
      </label>
    <% end %> 
  </div>
</div>