<div class="modal fade" id="modal-pieces-jointes" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titre-modal-pj"></h5>
        <button type="button" class="close fermer" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="affichage-doc">
        <!-- Zone d'affichage du document -->
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary rotation" data-degres="-90">Tourner <i class="fas fa-undo"></i></button>
        <span>
        <button type="button" class="btn btn-secondary rotation" data-degres="90">Tourner <i class="fas fa-redo"></i></button>
        <button type="button" class="btn btn-secondary fermer" data-dismiss="modal">Fermer</button>
        </span>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $('.lien-piece-jointe').click(function() {
      var url = $(this).data('url');
      var ext = $(this).data('ext');

      if (ext === 'pdf') {
        $('#affichage-doc').html("<iframe id='iframe-piece-jointe' src='" + url + "' ></iframe>")
      }
      else {
        $('#affichage-doc').html("<img id='iframe-piece-jointe' src='" + url + "' style='height: 100%'>")
      }
    });
    $('#modal-pieces-jointes').on('hide.bs.modal', function (e) {
        $('#iframe-piece-jointe').attr('src', ' ');
    })

    var etat = 0
    $('.rotation').click(function() {
        degres = $(this).data('degres')
        var img = $('#affichage-doc img')
        var scale = img.height() / img.width()

        if (etat === 180) {
          img.css('height', height)
          img.css('width', width)
          img.css('transform-origin', 'center');
          img.css('transform', 'none');
          etat = 0
        }
        else if ((etat === 0) && (degres === -90)) {
          var height = img.height()
          var width = img.width()
          img.css('transform-origin', 'bottom left');
          img.css('transform', 'rotate('+degres+'deg)  scale('+scale+') translate(0, '+img.height()+'px)');
          etat = -90
        }
        else if ((etat === 0) && (degres === 90)) {
          var height = img.height()
          var width = img.width()
          img.css('transform-origin', 'bottom left');
          img.css('transform', 'rotate('+degres+'deg) translate(-'+img.height()+'px, 0) scale('+scale+')');
          etat = 90
        }
        else if ((etat === -90) || (degres === 90)) {
          img.css('height', height)
          img.css('width', width)
          img.css('transform-origin', 'center');
          img.css('transform', 'none');
          img.css('transform', 'rotate(180deg)');
          etat = 180
        }
     })

    $('.fermer').click(reset_rotation)
    $(document).keyup(function(e) {
      if(e.keyCode === 27) // touche escape
        reset_rotation()
    });
    function reset_rotation() {
      rotation = 0;
      $('#affichage-doc').css('transform', '');
    }
  })
</script>
