<% if demarche == "inscription" %>

	<span style="display:block; height: 30px;"></span>

	<h4>Message du collège</h4>

	<span style="display:block; height: 10px;"></span>

	<div class="card">
		<div class="card-body">
			<p>Madame, Monsieur,</p>

			<p>Votre enfant va être accueilli en sixième au collège Jean Lurçat. Quatre ans au cours desquels l’ensemble des équipes pédagogiques et des personnels feront en sorte de le placer dans de bonnes conditions pour acquérir les compétences demandées en fin de cycles 3 et 4, et pour vivre les valeurs de respect et de citoyenneté liées à notre école laïque républicaine.</p>

			<p>Bienvenue chez nous,<br>
			Gérard Ganet, principal</p>
		</div>
	</div>

<% end %>