<nav class="navbar navbar-light navbar-expand-md fixed-top" style="background-color: transparent;">

  <span class="navbar-brand"><strong style="color: #00669D;">dossiersco web</strong></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="width: 90px;" href="#">Elève</a>
        <div class="progress" style="height: 10px; width: 70px">
          <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" style="width: 100px;" href="#">Famille</a>
        <div class="progress" style="height: 10px; width: 80px">
          <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" style="width: 200px;" href="#">Choix pédagogiques</a>
        <div class="progress" style="height: 10px; width: 180px">
          <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" style="width: 160px;" href="#">Administration</a>
        <div class="progress" style="height: 10px; width: 140px">
          <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" style="width: 170px;" href="#">Pièces à joindre</a>
        <div class="progress" style="height: 10px; width: 150px">
          <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
    </ul>
  </div>
</nav>
