<div class="container">
  <div class="row">
    <div class="col-auto">
      <span class="badge badge-success">1. Elève</span>
    </div>
    <div class="col-auto">
      <span class="badge badge-primary">2. Famille</span>
    </div>
    <div class="col-auto">
      <span class="badge badge-secondary">3. Choix pédagogiques</span>
    </div>
    <div class="col-auto">
      <span class="badge badge-secondary">4. Administration</span>
    </div>
    <div class="col-auto">
      <span class="badge badge-secondary">5. Pièces à joindre</span>
    </div>
  </div>
</div>