<div class="row">
    
  <% menu_items = {1 => "1. Elève", 2 => "2. Famille", 3 => "3. Choix pédagogiques", 4 => "4. Administration", 5 => "5. Pièces à joindre"} %>

  <% for menu_item in (1..@page_id-1) do %>
    <div class="col-auto">
      <span class="badge badge-success"><%= menu_items[menu_item] %> <img src="images/fait.png" alt="fait" title="fait"></span>
    </div>
  <% end %>

  <div class="col-auto">
    <span class="badge badge-primary"><%= menu_items[@page_id] %> <img src="images/en_cours.png" alt="en_cours" title="en_cours"></span>
  </div>
 
  <% for menu_item in (@page_id+1..5) do %>
    <div class="col-auto">
      <span class="badge badge-secondary"><%= menu_items[menu_item] %> </span>
    </div>
  <% end %>

</div>