<nav class="navbar navbar-light navbar-expand-md fixed-top" style="background-color: transparent;">

  <a class="navbar-brand" href="accueil"><strong style="color: #2d9ee0;">dossiersco web</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>