<span style="display:block; height: 40px;"></span>

<div class="row">     
	<div class="col">
    <a class="btn btn-primary" href="/<%= precedent %>"><img src="/images/precedent.png" alt="précédent" title="précédent"> Retour</a>
	</div>
	<div class="col">	
		<button type="submit" class="btn btn-primary float-right">Enregistrer et continuer <img src="/images/suivant.png" alt="suivant" title="suivant"></button>
	</div>
</div>