<div class="row">
    
  <% sous_sections = {1 => "4.1. Régime", 2 => "4.2. Autorisation de sortie", 3 => "4.3. Renseignements médicaux", 4 => "4.4. Droit à l'image"} %>

  <% for sous_section in (1..@sous_section_id-1) do %>
    <div class="col-auto">
      <span class="badge badge-success badge-sous-section"><%= sous_sections[sous_section] %> <img src="images/fait.png" alt="fait" title="fait"></span>
    </div>
  <% end %>

  <div class="col-auto">
    <span class="badge badge-primary badge-sous-section"><%= sous_sections[@sous_section_id] %> <img src="images/en_cours.png" alt="en_cours" title="en_cours"></span>
  </div>
 
  <% for sous_section in (@sous_section_id+1..4) do %>
    <div class="col-auto">
      <span class="badge badge-secondary badge-sous-section"><%= sous_sections[sous_section] %> </span>
    </div>
  <% end %>

</div>