.DS_Store
dump.rdb
.env
!.locales
!.gitignore
!.circleci
*.sw[a-p]
notes
uploads
secrets.*
resources/secrets

# Ignore master key for decrypting credentials and more.
/config/master.key

log/
tmp/
public/uploads/
coverage
