<% @section = 7 %>
<%= erb :'partials/progression_primaire' %>

<div class="col-12 col-md-8">

  <h2>Inscription validée</h2>

  <hr>

  <p>Nous avons envoyé un mail de confirmation aux adresses suivantes :</p>

  <ul>
    <li>catherine.puydebois@example.fr</li>
    <li>hubert.puydebois@example.fr</li>
  </ul>

  <span style="display:block; height: 20px;"></span>

  <p><strong>Flash info :</strong> nous invitons les parents qui souhaitent visiter le collège et rencontrer nos équipes à une soirée de bienvenue la vendredi 30 juin de 17h à 20h.</p>

  <p>A bientôt au collège Jean Lurçat !</p>

  <span style="display:block; height: 90px;"></span>

  <div class="row justify-content-md-center">
    <p><small>Qu'avez-vous pensé de cette nouvelle plateforme d'inscription ?</small></p>
  </div>

  <div class="row justify-content-md-center">
    <p><a href="#"><img src="images/satisfaction.png" alt="satisfaction" title="satisfaction"></a></p>
  </div>

</div><!--/span-->