<% @section = 4 %>
<% nb_documents_demandes = 3 %>
<% documents_demandes = ["Photo d'identité de l'élève", "Attestation d'assurance scolaire", "Extrait du jugement relatif à la garde de l'enfant"] %>
<% pourquoi_on_le_demande = ["Pour coller une photo récente sur les carnets de correspondance", "Pour participer aux sorties et voyages scolaires, notamment", "En cas de séparation, de divorce ou de tutelle datant de moins d'un an"]%>
<% noms = ["photo_identite", "assurance_scolaire", "jugement_garde_enfant"]%>


<%= erb :'partials/navigation' %>

<div class="col-12">

  <h2 class="separation">Pièces à joindre</h2>

  <form action="/pieces_a_joindre" method="POST" enctype="multipart/form-data">

    <% for i in 0..(nb_documents_demandes / 2) %>
      <div class="card-deck">
        <% for j in 0..1 %>
          <% indice_piece = j+i*2 %>
          <% if (indice_piece < nb_documents_demandes) %>
            <% @document = documents_demandes[indice_piece] %>
            <% @explication = pourquoi_on_le_demande[indice_piece] %>
            <% @variable = noms[indice_piece] %>
            <% @document_stocke_url = 'piece/'+dossier_eleve[noms[indice_piece]]  %>
            <%= erb :'partials/carte_upload' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= erb :'partials/nouveau_precedent_suivant', :locals => { :precedent => "administration"} %>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-filestyle-2.1.0/src/bootstrap-filestyle.min.js"> </script>
<script>
  document.getElementById('<%=noms[0]%>').focus();
</script>
