<% demarche = session[demarche] %>

<% if demarche == "inscription" %>
  <% @section = 7 %>
<% else %>
  <% @section = 6 %>
<% end %>

<%= erb :'partials/navigation' %>

<div class="col-12 col-md-8">

  <% if demarche == "inscription" %>
    <h2>Inscription validée</h2>
  <% else %>
    <h2>Réinscription validée</h2>
  <% end %>

  <hr>

  <p>Nous avons envoyé un mail de confirmation aux adresses suivantes :</p>

  <ul>
    <% dossier_eleve.resp_legal.each do |resp_legal| %>
      <%= "<li>#{resp_legal.email}</li>" if resp_legal.email.present? %>
    <% end %>
  </ul>

  <span style="display:block; height: 20px;"></span>

  <% if demarche == "inscription" %>
    <p><strong>Information :</strong> nous invitons les parents qui souhaitent visiter le collège et rencontrer nos équipes à une soirée de bienvenue le vendredi 30 juin de 17h à 20h.</p>
  <% end %>

  <p>A bientôt au <%= dossier_eleve.etablissement.nom %> !</p>

  <span style="display:block; height: 90px;"></span>

  <div class="row justify-content-md-center">
    <p><small>Qu'avez-vous pensé de cette nouvelle plateforme ?</small></p>
  </div>

  <div class="row justify-content-md-center">
    <p>
      <a href="#"><img src="images/tres_insatisfait.png" alt="Très insatisfait" title="Très insatisfait"></a>
      <a href="#"><img src="images/insatisfait.png" alt="Insatisfait" title="Insatisfait"></a>
      <a href="#"><img src="images/neutre.png" alt="Neutre" title="Neutre"></a>
      <a href="#"><img src="images/satisfait.png" alt="Satisfait" title="Satisfait"></a>
      <a href="#"><img src="images/tres_satisfait.png" alt="Très satisfait" title="Très satisfait"></a>
    </p>
  </div>

</div>