<div class="card">
	<div class="card-body">
	Bonjour ! Suite à une erreur technique, DossierSCO ne peut pas satisfaire votre demande pour l'instant. Nous sommes désolés de ce contre-temps. L'équipe de développement a été informée de cette erreur et fera son possible pour la corriger rapidement. Si vous le souhaitez, vous pouvez nous contacter à l'adresse
	<a href="mailto:contact@dossiersco.beta.gouv.fr">contact@dossiersco.beta.gouv.fr</a> en nous précisant
	ce que vous cherchiez à faire au moment où cette erreur s'est produite.
	</div>
</div>
