<!doctype html>
<html lang="en">
<head>

  <%= erb :'partials/header', :locals => {:stylesheet => 'style_identification'} %>

</head>

<body>
  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <header class="masthead clearfix">
      	<div class="inner">
          	<h3 class="masthead-brand">dossiersco web</h3>
          </div>
    	</header>

      <div class="cover-container">

        <main role="main" class="inner cover">
          <h1 class="cover-heading">Inscription au collège</h1>
          <p class="lead">Entrée en sixième ou passage dans une classe supérieure, l'inscription de votre enfant se passe ici. Quelques clics pour une rentrée magique.</p>
        </main>

        <div class="container">

          <form class="form-signin" action="/accueil" method="post">

            <label for="inputINE" class="sr-only">INE de l'élève</label>
            
            <input type="text" id="inputEmail" class="form-control" placeholder="INE de l'élève" autofocus>
            
            <label for="inputPassword" class="sr-only">Date de naissance de l'élève</label>
            
            <input type="text" id="inputPassword" class="form-control" placeholder="Date de naissance de l'élève">
            
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Se souvenir de moi
              </label>
            </div>
            
            <button class="btn btn-lg btn-primary btn-block">Commencer l'inscription</button>

          </form>

        </div>

  	  <footer class="mastfoot">
        <div class="inner">
          <p>Vous êtes agent en EPLE ? L'entrée, c'est par <a href="">ici</a>.</p>
        </div>
      </footer>

      </div>

    </div>

  </div>
</body>
</html>