<div class="card">
	<div class="card-body">
	Bonjour ! Vous cherchiez à inscrire ou réinscrire un enfant au collège en quelques clics… et vous avez saisi, ou suivi un lien vers, une page qui n'existe pas. Nous sommes désolés de ce contre-temps. Vous pouvez revenir <a href="javascript:window.history.back()">en arrière</a> ou vous rendre <a href="/">à l'accueil</a> qui vous orientera.
	</div>
</div>
