<!doctype html>
<html lang="en">
<head>

    <%= erb :'partials/header', :locals => {:stylesheet => 'style'} %>

</head>

<body>

  <%= erb :'partials/nav_light' %>

  <main role="main" class="container">

    <div class="row row-offcanvas row-offcanvas-right justify-content-center">

      <% @page_id = 5 %>
      <%= erb :'partials/nav2' %>
      
      <div class="col-12 col-md-8">

        <div class="card">
          <h4 class="card-header">Pièces à joindre</h4>
          <div class="card-body">

            <div class="row">
              <div class="col">
                <a href="#" class="btn btn-secondary">Upload PJ1</a>
              </div>
              <div class="col">
                <a href="#" class="btn btn-secondary">Upload PJ2</a>
              </div>
              <div class="col">
                <a href="#" class="btn btn-secondary">Upload PJ3</a>
              </div>
              <div class="col">
                <a href="#" class="btn btn-secondary">Upload PJ4</a>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-9">
          </div>
          <div class="col-3">
            <form action="/pieces_a_joindre" method="post">
              <button class="btn btn-primary btn-continuer-scol">Continuer</button>
            </form>
          </div>
        </div>

      </div><!--/span-->

    </div><!--/row-->

  </main><!--/.container-->

</body>
</html>