<% @section = 6 %>
<%= erb :'partials/navigation_reinscription' %>

<div class="col-12 col-md-8">

  <h2>Réinscription validée</h2>

  <hr>

  <p>Nous avons envoyé un mail de confirmation aux adresses suivantes :</p>

  <ul>
    <li>catherine@example.fr</li>
    <li>hubert@example.fr</li>
  </ul>

  <span style="display:block; height: 20px;"></span>

  <p>A bientôt au collège Germaine Tillion !</p>

  <span style="display:block; height: 90px;"></span>

  <div class="row justify-content-md-center">
    <p><small>Qu'avez-vous pensé de cette nouvelle plateforme de réinscription ?</small></p>
  </div>

  <div class="row justify-content-md-center">
    <p><a href="#"><img src="images/satisfaction.png" alt="satisfaction" title="satisfaction"></a></p>
  </div>

</div><!--/span-->