
<section class="section cards">
  <div class="row mb-2">
    <% @resp_legals.each do |resp_legal| %>
      <div class="card">
        <div class="card__content">
          <% dossier_eleve = resp_legal.dossier_eleve %>
          <h3><%= "#{dossier_eleve.prenom} #{dossier_eleve.nom}" %></h3>
          <p>Dossier d'inscription pour l'établissement <%= dossier_eleve.etablissement.nom %></p>

          <p><%= link_to t('.choisir_ce_dossier'), choix_dossier_path(resp_legal: resp_legal.id) %></p>
        </div>
      </div>
    <% end %>
  </div>
</section>

