version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.6.0
        environment:
          BUNDLE_PATH: vendor/bundle
          PGHOST: 127.0.0.1
          PGUSER: circleci-dossiersco
          RAILS_ENV: test
          RACK_ENV: test
      - image: circleci/postgres:9.5-alpine
        environment:
          POSTGRES_USER: circleci-dossiersco
          POSTGRES_DB: circleci-dossiersco
          POSTGRES_PASSWORD: ""
    steps:
      - checkout
      - run:
          name: Which bundler?
          command: bundle -v

      - restore_cache:
          keys:
            - rails-dossiersco-bundle-v2-{{ checksum "Gemfile.lock" }}
            - rails-dossiersco-bundle-v2-

      - run:
          name: Bundle Install
          command: bundle check --path=vendor/bundle || bundle install --path=vendor/bundle --jobs 4 --retry 3
      - run: sudo apt install -y postgresql-client || true

      - save_cache:
          key: rails-dossiersco-bundle-v2-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run:
          name: Database setup
          command: |
            bundle exec rake db:create
            bundle exec rake db:schema:load
            bundle exec rake db:migrate

      - run:
          name: Run test
          command: |
            bundle exec rake test
            bundle exec rake test:system


