

<p>Liste des établissements créés, mais dont aucun agent ne s'est connectés pour le moment</p>

<ul>
  <% @etablissements.each do |etablissement| %>
    <li><%= etablissement.uai %></li>
  <% end %>
</ul>
