<div class="modal__backdrop" id="modal-pieces-jointes">
  <div class="modal modal-piece-jointe">
    <div class="row mb-2">
      <h5 class="modal-title" id="titre-modal-pj"></h5>
      <button type="button" class="button-outline secondary fermer-modal" aria-label="Close">
        Fermer
      </button>
    </div>
    <div class="modal-body mb-2" id="affichage-doc">
      <!-- Zone d'affichage du document -->
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="button secondary rotation" data-degres="-90">Tourner <i class="fas fa-undo"></i></button>
      <span>
      <button type="button" class="button secondary rotation" data-degres="90">Tourner <i class="fas fa-redo"></i></button>
      <button type="button" class="button-outline secondary fermer-modal" data-dismiss="modal">Fermer</button>
      </span>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $('.lien-piece-jointe').click(function() {
      console.log('coucou')
      let url = $(this).data('url');
      let ext = $(this).data('ext');
      let nom = $(this).data('nom');

      $('#titre-modal-pj').html(nom)
      if (ext === 'pdf') {
        $('#affichage-doc').html("<iframe id='iframe-piece-jointe' src='" + url + "' ></iframe>")
      }
      else {
        $('#affichage-doc').html("<img id='iframe-piece-jointe' src='" + url + "' style='height: 100%'>")
      }
      $('#modal-pieces-jointes').css('display', 'block')
    });

    let rotation = 0
    $('.rotation').click(function() {
        degres = $(this).data('degres')
        let img = $('#affichage-doc img')
        let scale = img.height() / img.width()
        rotation = (rotation + degres) % 360

        if ((rotation % 360) === 0) {
          reset_rotation();
        }
        else {
          let transform = 'rotate('+rotation+'deg)'
          transform += (rotation % 180) === 0 ? '' : ' scale('+scale+') translate(0px,'+scale*img.height()/2+'px)'
          img.css('transform', transform);
        }
     })

    $('.fermer-modal').click(function() {
      $('#modal-pieces-jointes').css('display', 'none')
      reset_rotation()
    })
    function reset_rotation() {
      rotation = 0;
      $('#affichage-doc img').css('transform', 'none');
    }
  })
</script>
