<div class="row mt-5">
    <div class="col-10 col-sm-6 col-md-4 mx-auto order-sm-2 mb-3">
        <button type="submit" class="btn btn-primary float-right w-100">Enregistrer et continuer 
        <img src="/images/suivant.png" alt="suivant" title="suivant"></button>
    </div>
    <div class="col-10 col-sm-3 col-md-2 mx-auto order-sm-1">
        <a class="btn btn-primary w-100" href="/<%= precedent %>">
        <img src="/images/precedent.png" alt="précédent" title="précédent"> Retour</a>
    </div>
</div>