<div class="row mt-2">
    <div>
        <a class="button secondary small bouton-retour" href="/<%= precedent %>">
        <img src="/images/precedent.png" alt="précédent" title="précédent"> Retour</a>
    </div>
    <div>
        <button type="submit" class="button boutton-enregistrer">Enregistrer et continuer  <img src="/images/suivant.png" alt="suivant" title="suivant"></button>
    </div>
</div>