<div class="row mt-2">
  <a class="button secondary bouton-retour" href="/<%= precedent %>">
    <img src="/images/precedent.png" alt="précédent" title="précédent"> Retour</a>
  <button type="submit" class="button boutton-enregistrer">Enregistrer et continuer  <img src="/images/suivant.png" alt="suivant" title="suivant"></button>
</div>