<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<title>Au collège | Affectation</title>
</head>
<body>
	<h1>Au collège Jean Lurçat</h1>
	<h3><em>On fait les choses comme ça !</em></h3>
	<br>

	<nav>
		<ul>
			<li><strong>1. Affectation</strong></li>
			<li>2. Inscription</li>
			<li>3. Validation</li>
		</ul>
	</nav>

	<article>
		<p>Votre enfant Etienne Puydebois a été affecté au <strong>collège Jean Lurçat</strong>.</p>

		<div>
			<h3>Message de l'établissement</h3>
			<p>
				<em>« Tous les enfants sans aucune distinction sont capables d’apprendre et de progresser, dans une école qui se transforme au service de la qualité et de l’efficacité des apprentissages ».</em><br>
				Madame, Monsieur,<br>
				Votre enfant va être accueilli en 6<sup>e</sup> au collège Jean Lurçat. Quatre ans au cours desquels l’ensemble des équipes pédagogiques et des personnels feront en sorte de le placer dans de bonnes conditions pour acquérir les compétences demandées en fin de cycles 3 et 4 et pour vivre les valeurs de respect et de citoyenneté liées à notre école laïque républicaine.<br>
				Bienvenue chez nous,<br>
				Gérard Ganet, principal
			</p>
		</div>
	</article>

	<form action="/inscription" method="post">
		<button class="btn btn-primary btn-lg">J'accepte cette affectation</button>
	</form>

	<form action="/refus" method="post">
		<button class="btn btn-secondary btn-sm">Je refuse cette affectation</button>
	</form>
</body>
</html>