<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<title>Au collège | Inscription</title>
</head>
<body>
	<h1>Au collège Jean Lurçat</h1>
	<h3><em>On fait les choses comme ça !</em></h3>
	<br>
	
	<nav>
		<ul>
			<li>1. Affectation</li>
			<li><strong>2. Inscription</strong></li>
			<li>3. Validation</li>
		</ul>
	</nav>
	
	<p>Vous avez accepté l'affectation de votre enfant Etienne Puydebois au <strong>collège Jean Lurçat</strong>.<br>
	Veuillez maintenant procéder à son inscription administrative et pédagogique.</p>

	<form action="/eleve" method="post">
		<button class="btn btn-primary btn-lg">Commencer l'inscription</button>
	</form>
</body>
</html>