/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  background-color: #f8f8fa;
}

body {
  color: #383f45;
  padding-top: 50px;
  padding-bottom: 100px;
}

footer {
  padding: 30px 0;
}

img {
  margin: 0rem .1rem .2rem .2rem;
}

h2 {
  margin-top: 60px;
  color: #606468;
}

h4 {
  color: #606468;
}

.padding-top-8 {
  padding-top: 8px;
}

.posit-relat {
  position: relative;
}

.posit-absol {
  position: absolute;
  bottom: .2em;
  right: 1em;
  text-align: right;
}

.chevron-accordeon {
  padding : .1em .2em .1em .1em;
}

hr {
  margin-top: 0px;
  margin-bottom: 20px;
  border: none;
  height: 1px;
  background-color: #b3b5b7;
}

.not-first {
  margin-top: 8px;
}

.col-12 a {
  text-decoration: none;
}

.upload {
  margin-bottom: 0;
}

/*
 * Progress bars
 */
.progress {
  border-radius: .2rem;
  margin-left: .5rem;
}

.bg-success {
  background-color: #60d156;
}

.bg-primary {
  background-color: #2d9ee0;
}

.col-nav {
  text-align: center;
}

.col-nav:hover {
  text-decoration: none;
}

.nav-number {
  font-size: 2em;
  font-weight: lighter;
}

.this-nav {
  color: #2d9ee0;
  font-weight: bold;
}

.other-nav {
  color: #979b9f;
}

.other-nav:hover {
  color: grey;
}

/*
 * Navbar
 */
.navbar-collapse {
  margin-left: 136px;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #2d9ee0;
}

/*
 * Buttons
 */
.btn-primary {
  background-color: #2d9ee0;
  border-color: #2d9ee0;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #247FCC;
  border-color: #247FCC;
}

.btn-continuer {
  width: -webkit-fill-available;
  margin-top: 20px;
}

.btn-continuer-scol {
  width: -webkit-fill-available;
  margin-top: 30px;
}

.wrapper-continuer {
  float: right;  
}

.card {
  margin-bottom: 20px;
  padding-bottom: 0;
}

.card-body {
  position: relative;
  padding-bottom: 10px;
  min-height: 8.5em;
}

.card-relat {
  position: absolute;
  top: 5.3em;
  bottom: 1em;
}

.document img {
  width: 100%;
}

.mastfoot {
  padding-bottom: 0;
}

.aligner-progressions {
  vertical-align: top;
}

.col-auto {
  padding-left: 0;
  padding-right: 20px;
  padding-bottom: 10px;
}

.col-auto.col-auto-progression-secondaire {
  padding-top: 10px;
  padding-right: 10px;
}

.row.my-menu {
  margin-left: 20px;
}






/*Badges*/

.badge {
  font-weight: normal;
}

.badge-section {
  font-size : 1em;
  padding: .4rem .5rem .3rem .6rem;
}

.badge-section.badge-sans-icone {
  padding-bottom: .4rem;
}

.badge-section.badge-secondary {
  padding-bottom: .4rem;
}

.badge-sous-section {
  font-size: .85em;
  padding: .25rem .4rem .15rem .4rem;
}

.badge-sous-section.badge-secondary {
  padding-bottom: .4rem;
}

.badge-success {
  background-color: #60d156;
}

.badge-primary {
  background-color: #2d9ee0;
}

.badge-secondary {
  background-color: #979b9f;
}

.badge-success:hover {
  background-color: #55bf4c;
}

.badge-secondary:hover {
  background-color: grey;
}





.form-control.scol {
  margin: .4rem 0rem .4rem;
}

.form-control[readonly] {
  padding-left: .5rem;
}

.form-check-label {
  margin: .5rem 0rem 0rem;
}

.message_de_succes {
  width: 100%;
  background-color: lightgreen;
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.separation {
  border-bottom: 1px solid #b3b5b7;
  padding: 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right .sidebar-offcanvas {
    right: -100%; /* 12 columns */
  }

  .row-offcanvas-right.active .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -100%; /* 12 columns */
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
