<section class="section">
  <div class="container">
    <h1>Nouveau MEF</h1>

    <%= render 'form', mef: @mef %>

    <%= link_to 'Retour', configuration_options_pedagogiques_path, class: 'button-outline small secondary mt-2' %>
  </div>
</section>
