  <div class="col-12 col-md-9 mx-auto">

    <span style="display:block; height: 30px;"></span>

    <h1 class="separation">A propos de DossierSCO</h1>

    <span style="display:block; height: 20px;"></span>

    <p>
      <strong>DossierSCO</strong> est un service public numérique facilitant l'inscription aux collèges. Il transforme une campagne de masse en accueil individualisé des familles.
    </p>
    <p>
    Il est financé par <a href="https://education.gouv.fr">le Ministère de l'Education Nationale</a> et incubé par <a href="https://beta.gouv.fr"</a>l'incubateur des Services Publics Numériques</a>, un des services du Premier Ministre.
    </p>
    <p>
    Nous sommes hébergés au <a href="https://education.gouv.fr/110bis">Lab 110 Bis</a> du Ministère de l'Education Nationale. Venez nous rendre visite, <a href="https://calendar.google.com/calendar/embed?src=contact%40dossiersco.beta.gouv.fr&ctz=Europe%2FParis">notre agenda est le votre !</a>
    <p>
      La conception de ce service est pilotée par Pierre de Maulmont, intrapreneur et intendant du Lycée Arago (Paris).
    </p>
    <p>
      Vous pouvez suivre semaine après semaine la vie de l'équipe et les modifications apportées au service DossierSCO en lisant <a href="https://github.com/betagouv/dossiersco/blob/production/doc/journal.md">notre journal</a>.
    </p>
    <p>
    Par souci de transparence, vous pouvez consulter <a href="/stats">les statistiques d'usage</a> de DossierSCO.
      L'utilisation de notre service
    <p>
    Si vous souhaitez contribuer au développement du service, le code est ouvert et nous accueillerons avec grand plaisir vos <a href="https://github.com/betagouv/dossiersco/">Pull Requests</a>
    </p>
    <p>
      Pour toute question, n'hésitez pas à nous envoyer un mail à <a href="mailto:contact@dossiersco.fr">contact@dossiersco.fr</a>
    </p>

