<div class="col-md-6 col-12 offset-md-3">

  <h1 class="mb-3">Editer une Option Pedagogique</h1>

  <%= render 'form', option_pedagogique: @option_pedagogique %>

  <%= link_to 'Retour', options_pedagogiques_path %>

</div>