<section class="section">
  <div class="container">
    <h1 class="mb-3">Editer une Option Pedagogique</h1>
    <h5>Pour l'année scolaire <%= "#{(Time.now.strftime('%Y'))}/#{(Time.now.strftime('%Y').to_i + 1)}" %></h5>

    <%= render 'form', option_pedagogique: @option_pedagogique %>

    <%= link_to 'Retour', options_pedagogiques_path, class: 'button-outline small secondary mt-2' %>
  </div>
</section>