<section class="section">
  <div class="container">
    <h1 class="mb-3">Nouvelle Option Pedagogique</h1>

    <%= render 'form', option_pedagogique: @option_pedagogique %>

    <%= link_to 'Retour', options_pedagogiques_path, class: 'button-outline small secondary mt-2'%>
  </div>
</section>