<section class="section">

  <h1 class="separation"><%= t('.fiches_infirmerie') %></h1>

  <% if defined? message  %>
    <div class="message_echec"><%= message %></div>
  <% end %>

  <%= link_to t('.telecharger_fiches_infirmeries'),
              generation_fiches_infirmerie_etablissement_path(@etablissement, format: 'zip'),
              class: 'button mb-2',
              id: 'telecharger_convocations'
  %>

</section>
