<form action="/agent/creer_agent"  method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h2>Créer un agent</h2>
  <br>
  <label for="identifiant">Identifiant</label>
  <input type="text" name="identifiant" id="identifiant">
  <br>
  <label for="prenom">Prénom</label>
  <input type="text" name="prenom" id="prenom">
  <br>
  <label for="nom">Nom</label>
  <input type="text" name="nom"  id="nom">
  <br>
  <label for="password">Mot de passe</label>
  <input type="text" name="password"  id="password">
  <br>
  <label for="etablissement_id">Etablissement</label>
  <select name="etablissement_id"  id="etablissement_id">
    <% Etablissement.all.each do |etablissement|  %>
      <option value="<%= etablissement.id %>"><%= etablissement.nom %></option>
    <% end %>
  </select>
  <br>
  <input type="submit">
</form>
