$('#afficher-message-flash').html('')
<% if flash[:notice_mef] %>
  $('#afficher-message-flash').html("<div class=\"notification success\"><%= flash[:notice_mef] %></div>")
<% elsif flash[:alert_mef] %>
  $('#afficher-message-flash').html("<div class=\"notification error\"><%= flash[:alert_mef] %></div>")
<% end %>
