<form action="/agent/creer_etablissement"  method="post">
  <h2>Créer un établissement</h2>
  <br>
  <label for="nom">Nom</label>
  <input type="text" name="nom" id="nom">
  <br>
  <label for="email">Email</label>
  <input type="email" name="email" id="email">
  <br>
  <label for="adresse">Adresse</label>
  <input type="text" name="adresse"  id="adresse">
  <br>
  <label for="ville">Ville</label>
  <input type="text" name="ville"  id="ville">
  <br>
  <label for="code_postal">Code postal</label>
  <input type="text" name="code_postal"  id="code_postal">
  <br>
  <label for="message_permanence">Message de permanence</label>
  <textarea type="text" name="message_permanence"  id="message_permanence"></textarea>
  <br>
  <label for="message_infirmerie">Message infirmerie</label>
  <textarea type="text" name="message_infirmerie"  id="message_infirmerie"></textarea>
  <br>
  <label for="gere_demi_pension">Gère la demi pension</label>
  <input type="checkbox" name="gere_demi_pension"  id="gere_demi_pension">
  <br>
  <label for="signataire">Signataire</label>
  <input type="text" name="signataire"  id="signataire">
  <br>
  <input type="submit">
</form>