<div class="col-12 col-10">

  <span style="display:block; height: 50px;"></span>

  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col">
        <h1 class="separation">Import depuis siecle</h1>
      </div>
    </div>
  </div>

  <% if defined? message  %>
    <div class="message_de_succes"><a href="/agent/tableau_de_bord"><%= message %></a></div>
  <% end %>
  <form action="/agent/import_siecle" method="POST" enctype="multipart/form-data">

    <div class="card-deck">
        <% @document = "Import depuis siecle" %>
        <% @explication = "Sélectionnez un fichier au format xls" %>
        <% @variable = "filename" %>
        <% @action = "Parcourir" %>
        <%= erb :'partials/carte_upload' %>

    </div>

    <p>Pour limiter l'import à un seul élève, il suffit d'ajouter :</p>
    <div>
      <label for="nom_eleve">Nom de l'élève</label>
      <input type="text" name="nom_eleve">
    </div>
    <div>
      <label for="nom_eleve">Prénom de l'élève</label>
      <input type="text" name="prenom_eleve">
    </div>

    <div class="col">
      <button type="submit" class="btn btn-primary float-right">Importer <img src="../images/suivant.png" alt="suivant" title="suivant"></button>
    </div>

  </form>

  <span style="display:block; height: 20px;"></span>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-filestyle-2.1.0/src/bootstrap-filestyle.min.js"> </script>
