<div class="container mt-5 mb-4">
  <div class="wrapper">
    <div class="arrow-steps clearfix">
      <a class="step" href='/agent/import_siecle'>
        <span>Import</span>
      </a>
      <a class="step" href='/agent/options'>
        <span>Options</span>
      </a>
      <a class="step" href='/agent/piece_attendues'>
        <span>Pièces attendues</span>
      </a>
      <a class="step" href='/agent/liste_des_eleves'>
        <span>Dossiers</span>
      </a>
      <a class="step" href='/agent/export'>
        <span>Export</span>
      </a>
    </div>
  </div>
</div>