<div class="col-12 col-md-8">

    <h2>Options de l'établissement</h2>

    <hr>
  <% if defined? message  %>
    <div class="message_echec"><%= message %></div>
  <% end %>
<ul>
<% options.each do |option| %>
  <li><%= option.nom %> <%= option.niveau_debut %></li>
<% end %>
</ul>

    <form action='/agent/options' method='POST'>
      <label for='nom'>Nom</label>
      <input name='nom' type='text' placeholder='Ex : Latin' />
      <label for='niveau_debut' style='margin-left:10px'>Niveau de début</label>
      <input name='niveau_debut' type='text' placeholder='Ex : 4' />
      <button class='btn btn-primary' type='submit' style='margin-left:10px'>Ajouter</button>
    </form>

<br>
    <hr>

    <div>
      <button class='btn btn-primary'>
      <a href='/agent/tableau_de_bord' style='color:#FFFFFF'>Retour</a>
      </button>
    </div>

</div>