<div class="col-12 col-md-8">

    <h2 class="separation">Nombre d'élèves par option</h2>

  <% if defined? message  %>
    <div class="message_echec"><%= message %></div>
  <% end %>


  <div class="container etablissement">
    <ul>
      <% etablissement.niveaux.sort.each do |niveau| %>
        <% options = eleves_par_classe[niveau].collect(&:demande).flatten.collect(&:option).uniq %>
        <% eleve_par_options = eleves_par_classe[niveau].collect(&:demande).flatten.group_by(&:option_id) %>
          <% if options.count > 0 %>
            <li class="mt-2">
            <strong><%= niveau %></strong>
              <% eleve_par_options.each do |option_id, eleves| %>
                <span class='ml-3'><%= Option.find(option_id).nom %> : <%= eleves.count %></span>
              <% end %>
            </li>
          <% end %>
      <% end %>
    </ul>
  </div>
<table id="example" class="display" style="width:100%">
  <thead>
    <tr>
      <th>a</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>b</td>
    </tr>
</table>
</div>

