<div class="col-12 col-md-8">

    <h2 class="separation">Nombre d'élèves par option</h2>

  <% if defined? message  %>
    <div class="message_echec"><%= message %></div>
  <% end %>

  <span style="display:block; height: 40px;"></span>

  <div class="container etablissement">
    <ul>
      <% etablissement.niveaux.sort.each do |niveau| %>
        <% options = eleves_par_classe[niveau].collect(&:demande).flatten.collect(&:option).uniq %>
        <% eleve_par_options = eleves_par_classe[niveau].collect(&:demande).flatten.group_by(&:option_id) %>
          <li class="mt-2">
          <strong><%= niveau %></strong>

        <% eleve_par_options.each do |option_id, eleves| %>
          <p><%= Option.find(option_id).nom %> : <%= eleves.count %></p>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
