<h2 class="separation mt-3">Pieces jointes de l'élève <%= dossier_eleve.eleve.prenom %> <%= dossier_eleve.eleve.nom %></h2>

<%= erb :'partials/pieces_jointes', locals: { dossier_eleve: dossier_eleve, action: "/agent/pieces_jointes_eleve/#{dossier_eleve.eleve.identifiant}" } %>

<%= erb :'partials/image_box' %>

<script type="text/javascript" src="/js/bootstrap-filestyle-2.1.0/src/bootstrap-filestyle.min.js"> </script>
<script>
  $(document).ready(function() {
    $('input[type=file]')[0].focus();

    $('.forms').change(function() {
      var data = $(this).serialize()
      $(this).find( ".soumettre" ).click()
      $("button[type='submit']").attr("disabled", "disabled").addClass('disabled')
    })
  });
</script>
