<div class="col-12 col-10">

  <span style="display:block; height: 50px;"></span>

  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col">
      <h1 class="separation">Tableau de bord</h1>
      </div>
    </div>
  </div>

  <div>
    Dossiers : <span id="total_dossiers" class="badge badge-danger"><%= total_dossiers %></span>
  </div>

  <span style="display:block; height: 80px;"></span>

  <div><%= agent.etablissement.nom %></div> 
</div>
