.cards-famille {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  form {
    flex: 0 0 50%;
    padding: 1rem;
  }
  .card {
    padding: 1rem;
  }
}
@media (max-width: 999px) {
  .cards-famille {
    form {
      flex: 0 0 100%;
      padding: 0;
    }
  }
}