<section class="section">
  <h1>Etablissements</h1>

  <table class="table">
    <thead>
    <tr>
      <th>UAI</th>
      <th>Nom</th>
      <th>Code Postal</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @etablissements.each do |etablissement| %>
      <tr>
        <td><%= etablissement.uai %></td>
        <td><%= etablissement.nom %></td>
        <td><%= etablissement.code_postal %></td>
        <td>
          <%= link_to "selectionner",
            changer_etablissement_configuration_agent_path(@agent_connecte, etablissement: etablissement),
            {method: :post}
          %>
      </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>

