<section class="section">
  <div class="container">
    <h1>Editer une Pièce attendue</h1>

    <%= render 'form', piece_attendue: @piece_attendue %>

    <%= link_to 'Retour', configuration_pieces_attendues_path, class: 'button-outline small secondary mt-2' %>
  </div>
</section>
