<section class="section">

  <h1>Nouvelle pièce attendue</h1>

  <%= render 'form', piece_attendue: @piece_attendue %>

  <%= link_to 'Retour', configuration_pieces_attendues_path, class: 'button-outline small secondary' %>
</section>
