<% content_for :head do %>
    <%= javascript_include_tag 'famille', 'data-turbolinks-track': 'reload' %>
<% end %>
<% content_for :body do %>
    <nav class="navbar navbar-light navbar-expand-md d-flex align-items-center bg-white">
      <%= link_to root_path do %>
        <img src='/images/republique_francaise.svg' class='logo'>
        <span class="navbar-brand" >DossierSCO</span>
      <% end %>
      <% if session[:identifiant].present? %>
        <a class="ml-auto p-2" href="/deconnexion">Se d&eacute;connecter</a>
      <% end %>
    </nav>

    <main role="main" class="container  mt-4">

      <%= yield %>

    </main>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDomains", ["*.www.dossiersco.fr","*.dossiersco.beta.gouv.fr","*.dossiersco.fr"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//stats.data.gouv.fr/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '54']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>

    <noscript><p><img src="//stats.data.gouv.fr/piwik.php?idsite=54" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
<% end %>

<%= render template: 'layouts/application' %>